.header {
  border-bottom: 1px solid $textColor;
  overflow: hidden;
  margin: 15px 0;
  padding: 15px 0;
  position: relative;
  .logo {
    @media #{$mSmall} {
      text-align: center;
    }
    @media #{$mMedium} {
      width: 30%;
      float: $fLeft;
      text-align: $tLeft;
    }
    h1 {
      margin-bottom: 15px;
    }
  }
  .navbar {
    overflow: hidden;
    background-color: $mainColor;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
    @media #{$mSmall} {
      display: block;
    }
    @media #{$mMedium} {
      width: 70%;
      float: $fLeft;
    }
    li {
      a {
        display: block;
        color: #fff;
        transition: 0.5s;
        font-size: 1.2em;
        padding: 15px;
        &:hover {
          color: $textColor;
        }
        @media #{$mSmall} {
          width: 20%;
          float: $fLeft;
          text-align: center;
          padding: 15px 10px;
        }
      }
    }
  }
}
