@mixin LG {
  @media (min-width: 992px) {
    @content;
  }
}

// overlay

@mixin overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// prefixes

@mixin prefixer($property, $value, $prefixes: (o ms moz webkit)) {
  @each $prefixe in $prefixes {
    #{'-'+$prefixe+'-'+$property}: $value;
  }
  #{$property}: $value;
}

// keyframe

@mixin keyF($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
